 .subscribe-button{
        background-color: rgb(255, 0, 0);
        color: white;
        padding: 8px 12px;
        text-align: center;
        font-size: medium;
        margin: 10px 5px;
        border-radius: 3px;
        cursor: pointer;
        border: 0px solid;
        border-color: black;
        font-weight: bold;
        transition: opacity 0.10s ease-in-out;
    }

    .subscribe-button:hover{
       opacity: 0.6;
    }

    .subscribe-button:active{
        opacity: 0.4;
    }

    .join-button{
        background-color: white;
        color: rgb(0, 8, 255);
        padding: 7px 9px;
        text-align: center; 
        font-size: medium;
        border-color: rgb(0, 8, 255);
        border-style: solid;
        margin-left: 6px;
        transition: background-color 0.15s, color 0.15s;

    }

    .join-button:hover{
        background-color: rgb(0, 8, 255);
        color: white;
    }

    .join-button:active{
        opacity: 0.5;
    }

    .tweet-button{
        color: rgb(255, 255, 255);
        background-color: rgb(0, 110, 255);
        padding: 8px 15px;
        text-align: center;
        font-size: medium;
        font-weight: medium;
        border-radius: 20px;
        border-color: rgb(0, 110, 255);
        border-style: solid;
        cursor: pointer;
        margin-left: 6px;
        transition: box-shadow 0.15s ease-in-out;
    }

    .tweet-button:hover{
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.30);
    }

    .tweet-button:active{
        opacity: 0.5;
    }