.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 75px;
    border-right-width: 1px;
    z-index: 101;
     
}

.sidebar-link{
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sidebar-link:hover{
    background-color: rgb(232, 229, 229);
}

.sidebar-link img{
    height: 24px;
    margin-bottom: 4px;
}

.sidebar-link div{
    font-family: Roboto;
    font-size: 10px;
    font-weight: 400px;
}