
        .thumbnail{
            width: 340px;
            border-radius: 5px;
            display: block;
            margin-bottom: 0px;
        }


        .video-title{
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 12px;
        }
       
        

        .video-author{
            display: block;
            color: rgb(96, 96, 96);
            font-size: 12px;
            margin-top: 0px;
            margin-bottom: 4px;
        }

        .video-stats{
            display: block;
            color: rgb(96, 96, 96);
            font-size: 12px;
            margin-top: 5px;
        }

       
        .profile-picture{
            width: 40px;
            border-radius: 50px;
        }

        .thumbnail-row{
            margin-bottom: 12px;
            position: relative;
            width: 340px;
        }

        .video-grid-info{
            display: grid;
            grid-template-columns: 50px 1fr;
            column-gap: 5px;
            width: 340px;
        }

        .video-grid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            column-gap: 18px;
            row-gap: 25px;
            width: 400px;
        }

        @media (max-width: 750px) {
            .video-grid {
                grid-template-columns: 1fr 1fr;
            }
        }

        @media (min-width: 751px) and (max-width: 999px) {
            .video-grid {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }

        @media (min-width: 1000px) {
            .video-grid{
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }

        .video-time{
            background-color: black;
            color: white;
            position: absolute;
            bottom: 8px;
            right: 6px;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 500; 
            padding-left: 4px;
            padding-right: 4px;
            padding-bottom: 4px;
            padding-top: 4px;
            border-radius: 2px;  
        }

        

      

        .subscribe-name{
            font-size: 16px;
            font-weight: 400;
            padding-left: 10px;
            white-space: nowrap;
            font-weight: 700;
            
        }

        .subscribe-count{
            font-size: 12px;
            color: rgb(212, 11, 11);
            margin-top: 6px;
            margin-bottom: 0px;
            margin-left: 3px;
            padding-left: 8px;
        }

        .marques-brownlee,
        .mark-pilers{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            
        }

        .marques-brownlee .subscribe,
        .mark-pilers .subscribe{
            position: absolute;
            background-color: white;
            width: 200px;
            border: 1px solid rgb(255, 255, 255);
            border-radius: 5px;
            top: 36px;
            left: 35px;
            border-width: 1px;
            box-shadow: 2px 2px 2px;
            height: 70px;
            opacity: 0;
            transition: ease-in-out 0.15;
            pointer-events: none;
        }

        .marques-brownlee:hover .subscribe,
        .mark-pilers:hover .subscribe{
            opacity: 1;
        }